<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluator Regestration</title>
</head>


<div class="signReg-container">
    <h3>Regestration Evaluator</h3>
    <p>Allow admin to create, update, delete, and edit Evaluator</p>

    <form action="">
        <input type="text">
        <button>Registor</button>
    </form>

</div>

</html>