<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>

</head>

<script>

    const RegStudentHandler = (e) => {
        e.preventDefault();
        console.log("RegStudentHandler called")

        let StudentSchool = document.getElementById("StudentSchool").value;
        let StudentId = document.getElementById("StudentId").value;

        let StudentFirstName = document.getElementById("StudentFirstName").value;
        let StudentLastName = document.getElementById("StudentLastName").value;
        let StudentPhoneNumber = document.getElementById("StudentPhoneNumber").value;

        let StudentEmail = document.getElementById("StudentEmail").value;
        let StudentPassword = document.getElementById("StudentPassword").value;
        let StudentAccpetTerms = document.getElementById("StudentAccpetTerms").value;


        let jsonData = {
            school: StudentSchool,
            studentId: StudentId,
            firstName: StudentFirstName,
            lastName: StudentLastName,
            phoneNumber: StudentPhoneNumber,
            email: StudentEmail,
            password: StudentPassword,
            acceptTerms: StudentAccpetTerms
        }

        console.log(jsonData)

        $.ajax({
            url: '@Url.Action("RegisterStudentMethod", "Reg")',
            type: "POST",
            data: jsonData,
            success: studentRegSuccess,

        });

    }

    const studentRegSuccess = (data) => {
        console.log("studentRegSuccess called")
        console.log(data.status)
        if (data.status === "Registered") {
            window.location.href = '@Url.Action("Dashboard", "Home")';
        }
    }

</script>

<div class="signReg-container">

    <h1>Student Registration Partial</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis hic ducimus saepe facere. Non architecto
        accusantium minus iste, vitae error nam quod inventore nisi cupiditate ab assumenda nihil quisquam unde.</p>

    <form action="">
        <input id="StudentSchool" type="text" placeholder="School:">
        <input id="StudentId" type="text" placeholder="Student Id:">
        <input id="StudentFirstName" type="text" placeholder="First Name:">
        <input id="StudentLastName" type="text" placeholder="Last Name:">
        <input id="StudentPhoneNumber" type="text" placeholder="Phone Number:">

        <input id="StudentEmail" type="text" placeholder="Email:">
        <input id="StudentPassword" type="text" placeholder="Password:">
        <div>
            <input id="StudentAccpetTerms" type="checkbox" name="Accept Terms">
            <label>Accpet Terms</label>

        </div>

        <button onclick="RegStudentHandler(event)">Register</button>

    </form>


</div>

</html>
