<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complicae Types</title>
</head>


<div class="Admin-Container ">
    <form action="">
        <h3>Add a new compliance to a school.</h3>
        <input class="hidden" id="EditComplianceId" type="text" placeholder="ID to edit">

        <select id="SchoolsSelector">

        </select>
        <input type="text" id="IdFromSchool" disabled>
        <input type="text" id="ComplianceName" placeholder="Name of Compliance: Hep-C">
        <textarea name="" id="ComplianceDetails" cols="30" rows="10" placeholder="Details:"
            @* evnt.preventDefault to fix bug. *@
            onkeydown="if(event.keyCode === 13) { event.preventDefault(); }"></textarea>
        <button id="ComplianceSubmitBTN" class="mainBTN" onclick="CreateComplianceHandler(event)">Create
            Compliance</button>
    </form>

    <div class="ComplianceTable">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Compliance</th>
                    <th>School Name</th>
                    <th>School Id</th>
                    <th>Details</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="ComplianceTypeList"></tbody>
        </table>
    </div>

</div>

</html>