<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complicae Types</title>
</head>

<script>


    const CreatComplianceHandler = (event) => {
        event.preventDefault();

        const SchoolsSelector = document.getElementById("SchoolsSelector").value;
        if (SchoolsSelector === "Select School") {
            alert("Please select a school");
            return;
        }
        const schoolId = document.getElementById("SchoolId").value;
        const complianceName = document.getElementById("ComplianceName").value;
        const complianceDetails = document.getElementById("ComplianceDetails").value;


        const data = {
            school: SchoolsSelector,
            schoolId: schoolId,
            name: complianceName,
            details: complianceDetails
        };
        console.log(data);

        fetch('/AddCompliance', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.ok) {
                    // Handle successful response
                    console.log('Compliance created successfully');
                    return response.json();
                } else {
                    // Handle error response
                    console.error('Failed to create compliance');
                    throw new Error('Failed to create compliance');
                }
            })
            .then(data => {
                // Handle data from backend
                console.log('Data from backend after submiting:', data);
                // Call a function to handle the data
                ComplianceTypeList(data);
            })
            .catch(error => {
                // Handle network error
                console.error('Network error:', error);
            });
    };




    const ComplianceTypeList = (data) => {
        console.log("data to loop", data.data);
        const complianceTypeList = document.getElementById("ComplianceTypeList");
        complianceTypeList.innerHTML = "";
        data.data.forEach(compliance => {
            console.log("compliance", compliance);
            const li = document.createElement("li");
            li.textContent = compliance.name;
            complianceTypeList.appendChild(li);
        });
    };



</script>
<div>
    <h3>Complice Types</h3>
    <p>Allow admin to create, update, delete, and edit Complice types</p>
    <form action="">
        <select id="SchoolsSelector">
            <option value="Select School">Select School</option>
            <option value="School A">School A</option>
            <option value="School B">School B</option>
            <option value="School C">School C</option>
            <option value="School D">School D</option>
            <option value="School E">School E</option>
        </select>
        <input type="text" id="SchoolId">
        <input type="text" id="ComplianceName" placeholder="name of compliance">
        <textarea name="" id="ComplianceDetails" cols="30" rows="10"></textarea>
        <button onclick="CreatComplianceHandler(event)">Create</button>
    </form>
    <ul id="ComplianceTypeList"></ul>

</div>

</html>