<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complicae Types</title>
</head>


<div class="Admin-Container ">
    <form action="">
        <h3>Add a New Compliance</h3>
        <select id="SchoolsSelector">

        </select>
        <input class="hidden" type="text" id="IdFromSchool">
        <input type="text" id="ComplianceName" placeholder="Name of Compliance: Hep-C">
        <textarea name="" id="ComplianceDetails" cols="30" rows="10" placeholder="Notes:"></textarea>
        <button class="mainBTN" onclick="CreateComplianceHandler(event)">Create Compliance</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Compliance</th>
                <th>School Name</th>
                <th>School Id</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody id="ComplianceTypeList"></tbody>
    </table>

</div>

</html>