<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complicae Types</title>
</head>


<div class="Compliance-Container">
    <form action="">
        <h3>Compliance</h3>
        <select id="SchoolsSelector">

        </select>
        <input type="text" id="IdFromSchool">
        <input type="text" id="ComplianceName" placeholder="name of compliance">
        <textarea name="" id="ComplianceDetails" cols="30" rows="10"></textarea>
        <button onclick="CreateComplianceHandler(event)">Create</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Compliance</th>
                <th>School Name</th>
                <th>School Id</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody id="ComplianceTypeList"></tbody>
    </table>

</div>

</html>