<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complicae Types</title>
</head>
<div>
    <h3>Complice Types</h3>
    <p>Allow admin to create, update, delete, and edit Complice types</p>

</div>

</html>