<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complicae Types</title>
</head>

<div class="Compliance-Container">
    <form action="">
        <h3>Compliance</h3>
        <select id="SchoolsSelector">
            <option value="Select School">Select School</option>
            <option value="School A">School A</option>
            <option value="School B">School B</option>
            <option value="School C">School C</option>
            <option value="School D">School D</option>
            <option value="School E">School E</option>
        </select>
        <input type="text" id="SchoolId">
        <input type="text" id="ComplianceName" placeholder="name of compliance">
        <textarea name="" id="ComplianceDetails" cols="30" rows="10"></textarea>
        <button onclick="CreateComplianceHandler(event)">Create</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>school Id</th>
                <th>School Name</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody id="ComplianceTypeList"></tbody>
    </table>

</div>

</html>