<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complicae Types</title>
</head>

<script>
    window.onload = function () {
        GetComplianceTypes();
    };

    const GetComplianceTypes = () => {
        fetch('/GetComplianceTypes')
            .then(response => response.json())
            .then(data => {
                console.log("List of compliance", data.data);
                ComplianceTypeList(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    };

    const CreatComplianceHandler = (event) => {
        event.preventDefault();

        const complianceName = document.getElementById("ComplianceName").value;

        const data = {
            name: complianceName
        };
        console.log(data);

        fetch('/AddCompliance', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.ok) {
                    // Handle successful response
                    console.log('Compliance created successfully');
                    return response.json();
                } else {
                    // Handle error response
                    console.error('Failed to create compliance');
                    throw new Error('Failed to create compliance');
                }
            })
            .then(data => {
                // Handle data from backend
                console.log('Data from backend after submiting:', data);
                // Call a function to handle the data
                ComplianceTypeList(data);
            })
            .catch(error => {
                // Handle network error
                console.error('Network error:', error);
            });
    };




    const ComplianceTypeList = (data) => {
        console.log("data to loop", data.data);
        const complianceTypeList = document.getElementById("ComplianceTypeList");
        complianceTypeList.innerHTML = "";
        data.data.forEach(compliance => {
            console.log("compliance", compliance);
            const li = document.createElement("li");
            li.textContent = compliance.name;
            complianceTypeList.appendChild(li);
        });
    };



</script>
<div>
    <h3>Complice Types</h3>
    <p>Allow admin to create, update, delete, and edit Complice types</p>
    <form action="">
        <input type="text" id="ComplianceName" placeholder="name of compliance">
        <button onclick="CreatComplianceHandler(event)">Create</button>
    </form>
    <ul id="ComplianceTypeList"></ul>

</div>

</html>