@using DrugFreePortal.Models
@model UploadFile

<div>

    <header>

        <h2> UploadFile WebHost</h2>
        <form asp-action="ServerFileUploader" asp-controller="Home" method="Post" enctype="multipart/form-data">

            <input asp-for="FileName" placeholder="name" style="display: none;">
            <input asp-for="files" type="file" multiple>

            <input type="submit" value="Submit!">
        </form>

    </header>

</div>