<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div>
    <h1>File uploader with ajax</h1>
    <form id="uploadForm">
        <input type="file" id="fileInput" name="file" />
        <button type="submit">Upload</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("#uploadForm").on("submit", function (event) {
        event.preventDefault();

        var formData = new FormData();
        var file = $("#fileInput").get(0).files[0];

        if (file) {
            formData.append("file", file);
            console.log(file);

            $.ajax({
                url: '/UploadFileDefult',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    alert("File uploaded successfully!");
                },
                error: function () {
                    alert("An error occurred.");
                }
            });
        } else {
            alert("No file selected");
        }
    });
</script>