@* // resources are in studentDashboard.js *@
<div>
    <button class="mainBTN" onclick="GetUserFilesHandler(event)">View Uploaded Compliance</button>
    <button class="mainBTN" onclick="GetStudentResults(event)">View Results</button>
    <ul id="StudentFiles"></ul>
    <ul id="StudentResults"></ul>
</div>