@* // resources are in studentDashboard.js *@
<div class="Step3-Container">
    <button class="mainBTN" onclick="GetUserFilesHandler(event)">View Uploaded Compliance</button>
    <button class="mainBTN" onclick="GetStudentResults(event)">View Results</button>
    <ul id="StudentFiles"></ul>
    <ul class="StudentResults-Container" id="StudentResults"></ul>
</div>