<script>


    window.onload = function () {
        GetQueue();
    };





    const GetQueue = (e) => {
        console.log("------------------Get queue called")

        $.ajax({
            url: '/GetQueue',
            type: 'Get',
    @* contentType: 'application/json', *@
            success: function (response) {
                // Handle success response
                console.log("Backend Queue:", response.queueData);
                RenderQueue(response.queueData);
            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });

        }


    const QueueStatusHandler = (id) => {
        console.log("QueueStatusHandler called")
        console.log("Queue Id:", id)
    }

    const RenderQueue = (queueData) => {
        const ul = document.getElementById('QueueList');
        ul.innerHTML = '';


        queueData.forEach((queue) => {

            const li = document.createElement('li');
            const name = document.createElement('label');
            name.textContent = queue.firstName + " " + queue.lastName;
            name.id = 'nameQueueLabel' + queue.queueId;
            li.appendChild(name);



            const school = document.createElement('label');
            school.textContent = queue.schoolName;
            school.id = 'schoolQueueLable' + queue.queueId;

            li.appendChild(school);


            const status = document.createElement('button');
            status.textContent = queue.status;
            status.id = 'statusQueueLableButton' + queue.queueId;
            status.addEventListener('click', () => QueueStatusHandler(queue.queueId));
            li.appendChild(status);



            const email = document.createElement('label');
            email.textContent = queue.email;
            email.classList.add('hidden');
            email.id = 'emailQueueLable' + queue.queueId;
            li.appendChild(email);





            ul.appendChild(li);
        });
    }

    // function that calls GetQueue every 10 seconds
    setInterval(GetQueue, 7000);



</script>




<div class="Queue-Container">
    <h1>In Queue</h1>
    @* <button onclick="GetQueue()">Get Queue</button> *@

    <ul class="QueueHeading">
        <li>
            <label>Name:</label>
            <label>School:</label>
            <label>Status:</label>
        </li>
    </ul>

    <ul class="QueueBody" id="QueueList">
        <li>
            <label>Name:</label>
            <label>Status:</label>
        </li>
    </ul>

</div>