<script>


    window.onload = function () {
        GetQueue();
    };





    @* GetQueue(); // refresh the queue list after changing the status submiting or returning a student to the queue *@

    const DeleteFromQueueHandler = (id) => {
        console.log("DeleteFromQueueHandler called=====>")

        const QueueId = id;
        const StudentUserId = document.getElementById('studentUserIdQueueLable' + id).textContent;

        console.log("************************QueueId to delete:", QueueId);
        console.log("************************StudentUserId to delete:", StudentUserId);

        const jsonData = {
            queueId: QueueId,
            studentUserId: StudentUserId
        }

        console.log("Frontend Queue data=======:", jsonData)

        $.ajax({
            url: '/DeleteFromQueue',
            type: 'Post',
            data: jsonData,
            success: function (response) {
                // Handle success response
                console.log("Backend Queue:", response);
                GetQueue();
            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });
    }


    const GetQueue = (e) => {
        console.log("------------------Get queue called")

        $.ajax({
            url: '/GetQueue',
            type: 'Get',
    @* contentType: 'application/json', *@
            success: function (response) {
                // Handle success response
                console.log("Backend Queue:", response.queueData);
                RenderQueue(response.queueData);
            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });

        }


    const QueueStatusHandler = (id) => {
        console.log("QueueStatusHandler called=====>")


        const QueueId = id;
        const QueueStatus = "In Progress"
        //must be changed to the student id
        const StudentUserId = document.getElementById('studentUserIdQueueLable' + id).textContent;

        SetSemesterSession(StudentUserId);

        console.log("************************QueueId to chanage status:", QueueId);
        console.log("************************StudentUserId to add to session:", StudentUserId);


        const jsonData = {
            queueId: QueueId,
            studentUserId: StudentUserId,
            status: QueueStatus
        }

        console.log("Frontend Queue data=======:", jsonData)


        $.ajax({
            url: '/ChangeQueueStatus',
            type: 'Post',
            data: jsonData,
            success: function (response) {
                // Handle success response
                console.log("Backend Queue:", response);

                if (response.status === "In Progress Error") {
                    alert("Message: " + response.message);
                    const selectedUserInfo = document.getElementById("SlectedUserInfo");
                    selectedUserInfo.parentNode.removeChild(selectedUserInfo);
                }
                document.getElementById('RecordList').style.display = 'grid ';

                GetStudentInProgress();
                GetQueue();

            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });
    }



    const RenderQueue = (queueData) => {
        const ul = document.getElementById('QueueList');
        ul.innerHTML = '';


        queueData.forEach((queue) => {

            const li = document.createElement('li');
            //append a footer to the li


            const deleteButton = document.createElement('button');
            deleteButton.id = 'deleteButton' + queue.queueId;
            deleteButton.textContent = '';
            deleteButton.classList.add('QueueDeleteBTN');
            deleteButton.addEventListener('click', () => DeleteFromQueueHandler(queue.queueId));
            li.appendChild(deleteButton);

            const name = document.createElement('label');
            name.textContent = queue.firstName + " " + queue.lastName;
            name.id = 'nameQueueLabel' + queue.queueId;
            li.appendChild(name);

            const school = document.createElement('label');
            school.textContent = queue.schoolName;
            school.id = 'schoolQueueLable' + queue.queueId;
            li.appendChild(school);

            const status = document.createElement('button');
            status.id = 'statusQueueLableButton' + queue.queueId;
            status.textContent = queue.status;
            status.classList.add('QueueMainBTN');
            if (queue.status === "In Progress") {
                status.disabled = true;
            }

            status.addEventListener('click', () => QueueStatusHandler(queue.queueId));
            li.appendChild(status);

            const footer = document.createElement('footer');
            footer.classList.add('QueueFooter');
            li.appendChild(footer);


            //button for deleting the student from the queue
            const deleteStudent = document.createElement('button');
            deleteStudent.textContent = 'Remove Student';
            footer.appendChild(deleteStudent);

            //button for changing the status of the student
            const changeStatus = document.createElement('button');
            changeStatus.textContent = 'Change Status';
            footer.appendChild(changeStatus);



            // hiddend items
            const shcoolId = document.createElement('label');
            shcoolId.textContent = queue.schoolId;
            shcoolId.classList.add('hidden');
            shcoolId.id = 'schoolIdQueueLable' + queue.queueId;
            li.appendChild(shcoolId);

            const studentId = document.createElement('label');
            studentId.textContent = queue.studentId;
            studentId.classList.add('hidden');
            studentId.id = 'studentIdQueueLable' + queue.queueId;
            li.appendChild(studentId);

            const studedentUserId = document.createElement('label');
            studedentUserId.textContent = queue.studentUserId;
            studedentUserId.classList.add('hidden');
            studedentUserId.id = 'studentUserIdQueueLable' + queue.queueId;
            li.appendChild(studedentUserId);

            const email = document.createElement('label');
            email.textContent = queue.email;
            email.classList.add('hidden');
            email.id = 'emailQueueLable' + queue.queueId;
            li.appendChild(email);

            const phone = document.createElement('label');
            phone.textContent = queue.phoneNumber;
            phone.classList.add('hidden');
            phone.id = 'phoneQueueLable' + queue.queueId;
            li.appendChild(phone);




            ul.appendChild(li);
        });
    }

    // function that calls GetQueue every 7 seconds
    //setInterval(GetQueue, 7000);



</script>




<div class="Queue-Container">
    <h1>In Queue</h1>
    @* <button onclick="GetQueue()">Get Queue</button> *@

    <ul class="QueueHeading">
        <li>
            <label>...</label>
            <label>Name:</label>
            <label>School:</label>
            <label>Status:</label>
        </li>
    </ul>

    <ul class="QueueBody" id="QueueList">
        <li>
            <label>Name:</label>
            <label>Status:</label>
        </li>
    </ul>

</div>