<head>
    <script>
        @* arrow function with get ajax  *@
            $(document).ready(() => {
                $.get("/GetUsers", (data) => {
                    console.log("data from db", data);
                    RenderAllUsers(data);
                });
            });
        const RenderAllUsers = (users) => {
            users.forEach(user => {

                if (user.accountType == 0) {
                    user.accountType = "Admin";
                } else if (user.accountType == 1) {
                    user.accountType = "Dean";
                } else if (user.accountType == 2) {
                    user.accountType = "Student";
                } else if (user.accountType == 3) {
                    user.accountType = "Evaluator";
                }

                console.log("users here", user);
                $('#usersList').append(`<tr>
                    <td>${user.userId}</td>
                    <td>${user.accountType}</td>
                    <td>${user.school}</td>
                    <td>${user.studentId}</td>
                    <td>${user.firstName}</td>
                    <td>${user.lastName}</td>
                    <td>${user.email}</td>
                    <td>${user.password}</td>
                    </tr>`);
            });
        }

    </script>
</head>


<body>


    <div>
        <h3>All Users</h3>

    </div>

    <table id="usersList"></table>

</body>
