<head>
    <script>
        @* DeletUser function using jquer ajax *@
        const DeleteUserHandler = (userId) => {
            const jsonData = {
                userId: userId
            };
            console.log(jsonData);

            $.ajax({
                url: 'DeleteUser',
                type: 'POST',
                data: jsonData,
                success: (result) => {
                    console.log("user deleted successfully", result);
                    alert('User deleted successfully');
                    fetchAllUsers();
                },
                error: (error) => {
                    console.log(error);
                    alert('Error deleting user');
                }
            });
        };

    </script>
</head>


<div>
    <table id="usersList"></table>

</div>
