<script>
    function createSchool(event) {
        event.preventDefault();

        const schoolDean = document.getElementById('schoolDean').value;
        const schoolName = document.getElementById('schoolName').value;
        const schoolAddress = document.getElementById('schoolAddress').value;
        const schoolCity = document.getElementById('schoolCity').value;
        const schoolState = document.getElementById('schoolState').value;
        const schoolZipCode = document.getElementById('schoolZipCode').value;
        const schoolOnsiteDate = document.getElementById('schoolOnsiteDate').value;

        const data = {
            dean: schoolDean,
            name: schoolName,
            address: schoolAddress,
            city: schoolCity,
            state: schoolState,
            zipCode: schoolZipCode,
            onSiteDate: schoolOnsiteDate
        };


        console.log(data);
        console.log(JSON.stringify(data));

        $.ajax({
            url: '/CreateSchool',
            type: 'POST',
            data: data,
    @* contentType: 'application/json', *@
            success: function (response) {
                // Handle success response
                console.log(response);
            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });
    }




</script>



<div class="Admin-Container">

    <form>
        <h3>Add a new school.</h3>

        <input type="text" placeholder="School Dean Name: Tom Cruise" id="schoolDean">
        <input type="text" placeholder="Name of School: " id="schoolName">
        <input type="text" placeholder="Address:" id="schoolAddress">
        <input type="text" placeholder="City:" id="schoolCity">
        <input type="text" placeholder="State:" id="schoolState">
        <input type="text" placeholder="Zip Code:" id="schoolZipCode">
        <label>Select Onsite Date</label>
        <input type="date" placeholder="Onsite Date:" id="schoolOnsiteDate">
        <button class="mainBTN" onclick="createSchool(event)">Create School</button>


    </form>

    <ul id="AllSchools"></ul>


</div>