<head>

</head>



<div>
    <h3>School</h3>

    <p>Allow admin to create, render, updated, and delete.</p>

    <form action="">
        <input type="text" placeholder="School Dean" id="schoolDean">
        <input type="text" placeholder="name of school:" id="schoolName">
        <input type="text" placeholder="address:" id="schoolAddress">
        <input type="text" placeholder="city:" id="schoolCity">
        <input type="text" placeholder="state:" id="schoolState">
        <input type="text" placeholder="zip code:" id="schoolZipCode">
        <input type="text" placeholder="Onsite Date:" id="schoolOnsiteDate">

        <input type="button" value="+ school" onclick="createSchool(event)">

    </form>

</div>