<head>

</head>

<div>
    <h3>School</h3>

    <p>Allow admin to create, render, updated, and delete.</p>

    <form action="">
        <input type="text" placeholder="name of school:">
        <input type="text" placeholder="address:">
        <input type="text" placeholder="city:">
        <input type="text" placeholder="state:">
        <input type="text" placeholder="zip:">
        <input type="button" value="+ school">

    </form>

</div>