<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semesters</title>
</head>
<script>
    const CreateSemesterHandler = (e) => {
        e.preventDefault();
        console.log("CreateSemesterHandler called")

        let SemesterTitle = document.getElementById("SemesterTitle").value;

        let jsonData = {
            title: SemesterTitle,
        }

        console.log(jsonData)


        $.ajax({
            url: '/CreateSemester',
            type: "POST",
            data: jsonData,
            success: function (response) {
                // Handle the success response here
                console.log("Semester created successfully");
                console.log(response);
                // You can perform additional actions based on the response
            },
            error: function (error) {
                // Handle the error response here
                console.log("Error creating semester");
                console.log(error);
                // You can display an error message or perform other actions
            }
        });


    }



</script>

<div>
    <h3>Semesters</h3>
    <p>Allow admin to create, update, delete, and edit semesters</p>
    <form action="">
        <input id="SemesterTitle" type="text" name="term" placeholder="term and year">
        <button onclick="CreateSemesterHandler(event)"> Create Semester</button>
    </form>

</div>

</html>