<script>

    window.onload = function () {
        GetStudentInProgress();
    };


    const GetStudentInProgress = (event) => {
        console.log("*************>>GetStudentInProgress");
        // Add your code here
        $.ajax({
            url: '/GetStudentInProgress',
            type: 'Get',
            success: function (response) {
                // Handle success response
                console.log("<<<==============");
                console.log("StudentInProgress result:", response);
                console.log("==============>>>");


                if (response.status === "No User In Progress") {
                    document.getElementById("NoUserSelectedInQueue").innerHTML = "No User Selected In Queue. Please select a user from the queue.";
                } else {
                    document.getElementById("NoUserSelectedInQueue").innerHTML = "";
                    RenderSelectedUser(response.userInQueueData);
                }

                GetQueue();


            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });
    };


    const RenderSelectedUser = (userData) => {

        console.log("userData====:", userData);

        const mainElement = document.createElement("main");
        mainElement.id = "SlectedUserInfo";

        const labelStudentUserId = document.createElement("label");
        labelStudentUserId.innerHTML = userData.userId;
        labelStudentUserId.id = "labelStudentUserId"; // Add unique id
        mainElement.appendChild(labelStudentUserId);

        const lablelName = document.createElement("label");
        lablelName.innerHTML = userData.firstName + " " + userData.lastName;
        lablelName.id = "lablelName"; // Add unique id
        mainElement.appendChild(lablelName);

        const labelStudentId = document.createElement("label");
        labelStudentId.innerHTML = userData.studentId;
        labelStudentId.id = "labelStudentId"; // Add unique id
        mainElement.appendChild(labelStudentId);

        const labelSchoolId = document.createElement("label");
        labelSchoolId.innerHTML = userData.schoolId;
        labelSchoolId.id = "labelSchoolId"; // Add unique id
        mainElement.appendChild(labelSchoolId);

        document.getElementById("SubmitRecordsView").appendChild(mainElement);

    };




    const ReturnToQueueHandler = (event) => {
        console.log("ReturnToQueueHandler called");
        // Add your code here
        $.ajax({
            url: '/ReturnQueueStatus',
            type: 'Post',
            success: function (response) {
                // Handle success response
                console.log("Return to Queue:", response);
                GetQueue();
                const selectedUserInfo = document.getElementById("SlectedUserInfo");
                selectedUserInfo.parentNode.removeChild(selectedUserInfo);

            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });
    };

    const RenderSchoolComplianceHandler = (event) => {
        console.log("RenderSchoolComplianceHandler called");

        let schoolIdFilter = document.getElementById("labelSchoolId").textContent;

        jsonData = {
            idFromSchool: schoolIdFilter
        };

        console.log("jsonData:", jsonData);
        // Add your code here
        $.ajax({
            url: '/RenderSchoolCompliance',
            type: 'Post',
            data: jsonData,
            success: function (response) {
                // Handle success response
                console.log("RenderCompliance:", response);
            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });
    };







</script>


<div class="SubmitRecords-Container" id="SubmitRecordsView">
    <button id="ReturnToQueueBTN" onclick="ReturnToQueueHandler(event)">Return to Queue</button>
    <button onclick="RenderSchoolComplianceHandler(event)">+</button>
    <label id="NoUserSelectedInQueue"></label>




</div>