<script>

    window.onload = function () {
        GetStudentInProgress();
    };


    const GetStudentInProgress = (event) => {
        console.log("*************>>GetStudentInProgress");
        // Add your code here
        $.ajax({
            url: '/GetStudentInProgress',
            type: 'Get',
            success: function (response) {
                // Handle success response
                console.log("=====>GetStudentInProgress:", response.userInQueueData);
                GetQueue();


            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });
    };





    const ReturnToQueueHandler = (event) => {
        console.log("ReturnToQueueHandler called");
        // Add your code here
        $.ajax({
            url: '/ReturnQueueStatus',
            type: 'Post',
            success: function (response) {
                // Handle success response
                console.log("Return to Queue:", response);

                GetQueue();

            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });
    };







</script>


<div id="SubmitRecordsView">
    <h1>Submit Records </h1>
    <button id="ReturnToQueueBTN" onclick="ReturnToQueueHandler(event)">Return to Queue</button>
</div>