<script>

    window.onload = function () {
        GetStudentInProgress();
    };


    const GetStudentInProgress = (event) => {
        console.log("*************>>GetStudentInProgress");
        // Add your code here
        $.ajax({
            url: '/GetStudentInProgress',
            type: 'Get',
            success: function (response) {
                // Handle success response
                console.log("<<<==============");
                console.log("StudentInProgress result:", response);
                console.log("==============>>>");


                if (response.status === "No User In Progress") {
                    document.getElementById("NoUserSelectedInQueue").innerHTML = "No User Selected In Queue. Please select a user from the queue.";
                } else {
                    document.getElementById("NoUserSelectedInQueue").innerHTML = "";
                    RenderSelectedUser(response.userInQueueData);
                }

                GetQueue();


            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });
    };


    const RenderSelectedUser = (userData) => {

        console.log("userData====:", userData);
        const mainElement = document.createElement("main");
        mainElement.id = "SlectedUserInfo";

        const labelUserId = document.createElement("label");
        labelUserId.innerHTML = userData.userId;
        labelUserId.id = "labelUserIdRecord"; // Add unique id
        mainElement.appendChild(labelUserId);

        const userNameDiv = document.createElement("div");
        userNameDiv.id = "userNameDivRecord";

        const lablelFristName = document.createElement("label");
        lablelFristName.innerHTML = userData.firstName;
        lablelFristName.id = "lablelFristNameRecord"; // Add unique id
        userNameDiv.appendChild(lablelFristName);

        const labelLastName = document.createElement("label");
        labelLastName.innerHTML = userData.lastName;
        labelLastName.id = "labelLastNameRecord"; // Add unique id
        userNameDiv.appendChild(labelLastName);

        mainElement.appendChild(userNameDiv);

        const labelStudentId = document.createElement("label");
        labelStudentId.innerHTML = userData.studentId;
        labelStudentId.id = "labelStudentIdRecord"; // Add unique id
        mainElement.appendChild(labelStudentId);

        const labelSchool = document.createElement("label");
        labelSchool.innerHTML = userData.school;
        labelSchool.id = "labelSchoolRecord"; // Add unique id
        mainElement.appendChild(labelSchool);

        const labelSchoolId = document.createElement("label");
        labelSchoolId.innerHTML = userData.schoolId;
        labelSchoolId.id = "labelSchoolIdRecord"; // Add unique id
        mainElement.appendChild(labelSchoolId);

        document.getElementById("SubmitRecordsView").appendChild(mainElement);

    };




    const ReturnToQueueHandler = (event) => {
        console.log("ReturnToQueueHandler called");
        // Add your code here
        $.ajax({
            url: '/ReturnQueueStatus',
            type: 'Post',
            success: function (response) {
                // Handle success response
                console.log("Return to Queue:", response);
                GetQueue();
                const selectedUserInfo = document.getElementById("SlectedUserInfo");
                selectedUserInfo.parentNode.removeChild(selectedUserInfo);

            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });
    };

    const RenderSchoolComplianceHandler = (event) => {
        console.log("RenderSchoolComplianceHandler called");

        let schoolIdFilter = document.getElementById("labelSchoolId").textContent;

        jsonData = {
            idFromSchool: schoolIdFilter
        };

        console.log("jsonData:", jsonData);
        // Add your code here
        $.ajax({
            url: '/RenderSchoolCompliance',
            type: 'Post',
            data: jsonData,
            success: function (response) {
                // Handle success response
                console.log("RenderCompliance:", response);
            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });
    };







</script>


<div class="SubmitRecords-Container" id="SubmitRecordsView">
    <button id="ReturnToQueueBTN" onclick="ReturnToQueueHandler(event)">Return to Queue</button>
    <button onclick="RenderSchoolComplianceHandler(event)">+</button>
    <label id="NoUserSelectedInQueue"></label>

    <button onclick="RecordHandler(event)">Cretae Record DB</button>





</div>