<script>

    window.onload = function () {
        GetStudentInProgress();
    };


    const GetStudentInProgress = (event) => {
        console.log("*************>>GetStudentInProgress");
        // Add your code here
        $.ajax({
            url: '/GetStudentInProgress',
            type: 'Get',
            success: function (response) {
                // Handle success response
                console.log("<<<==============");
                console.log("StudentInProgress result:", response);
                console.log("==============>>>");

                if (response.status === "No User In Progress") {
                    document.getElementById("NoUserSelectedInQueue").innerHTML = "No User Selected In Queue. Please select a user from the queue.";
                } else {
                    document.getElementById("NoUserSelectedInQueue").innerHTML = "";
                    RenderSelectedUser(response.userInQueueData);

                }

                GetQueue();


            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });
    };


    const RenderSelectedUser = (userData) => {


        const user = userData; // Assuming there is only one user in the userData array
        console.log("User data:", user);

        const mainElement = document.createElement("main");
        mainElement.id = "SlectedUserInfo";

        const lablelName = document.createElement("label");
        lablelName.innerHTML = user.firstName + " " + user.lastName;
        mainElement.appendChild(lablelName);

        const labelStudentId = document.createElement("label");
        labelStudentId.innerHTML = user.studentId;
        mainElement.appendChild(labelStudentId);


        document.getElementById("SubmitRecordsView").appendChild(mainElement);

    };




    const ReturnToQueueHandler = (event) => {
        console.log("ReturnToQueueHandler called");
        // Add your code here
        $.ajax({
            url: '/ReturnQueueStatus',
            type: 'Post',
            success: function (response) {
                // Handle success response
                console.log("Return to Queue:", response);
                GetQueue();
                const selectedUserInfo = document.getElementById("SlectedUserInfo");
                selectedUserInfo.parentNode.removeChild(selectedUserInfo);

            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });
    };







</script>


<div class="SubmitRecords-Container" id="SubmitRecordsView">
    <h1>Submit Records </h1>
    <button id="ReturnToQueueBTN" onclick="ReturnToQueueHandler(event)">Return to Queue</button>
    <label id="NoUserSelectedInQueue"></label>



</div>