<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dean Profesianl</title>
</head>

<div class="dashboard-container">

    <h1>Dean Dashboard</h1>

    <p>Dean Profesionals will review all documents and pass or fail students compliacys</p>


</div>

</html>