<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<div class="dashboard-container">
    <h1>Student Dashboard</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat velit repudiandae recusandae ea officiis
        nesciunt. Illo qui at dolorum obcaecati rerum pariatur, praesentium voluptas aut eum ipsa! Blanditiis, omnis
        ipsum.</p>


</div>

</html>