@using DrugFreePortal.Models
@model DashboardWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="~/css/styles.css?version=1.6">
    <script src="~/js/adminDashboard.js?version=1.6"></script>
    <script src="~/js/scripts.js?version=1.6"></script>

    @* keep until all registrations have been udpated to vanilla javascript *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<div>
    <partial name="components/menuDashboard" />

    @if (Model.User != null)
    {
        if (Model.User.AccountType == AccountType.Admin)
        {
            <partial name="dashboards/admin" />
        }
        else if (Model.User.AccountType == AccountType.Student)
        {
            <partial name="dashboards/student" />
        }
        else if (Model.User.AccountType == AccountType.Dean)
        {
            <partial name="dashboards/dean" />
        }
        else if (Model.User.AccountType == AccountType.Evaluator)
        {
            <partial name="dashboards/evaluator" />

        }
    }

</div>

</html>