@using DrugFreePortal.Models
@model DashboardWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    @await Html.PartialAsync("components/resources")

</head>

<div>
    <partial name="components/menuDashboard" />

    @if (Model.User != null)
    {
        if (Model.User.AccountType == AccountType.Admin)
        {
            <partial name="dashboards/admin" />
        }
        else if (Model.User.AccountType == AccountType.Student)
        {
            <partial name="dashboards/student" />
        }
        else if (Model.User.AccountType == AccountType.Dean)
        {
            <partial name="dashboards/dean" />
        }
        else if (Model.User.AccountType == AccountType.Evaluator)
        {
            <partial name="dashboards/evaluator" />

        }
    }

</div>

</html>