<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="~/css/styles.css?version=1.5">
    <script src="~/js/adminDashboard.js?version=1.5"></script>
    @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> *@


</head>

<body>

    <h1>All Dashboard</h1>
    <p>Here we will have all the Dashboard. The correct Dashboard will be render by the account type! </p>

    <partial name="dashboards/admin">
        <partial name="dashboards/evaluator">
            <partial name="dashboards/student">
                <partial name="dashboards/dean">



</body>

</html>