<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="~/css/styles.css?version=1.1">

</head>

<body>

    <h1>All Dashboard</h1>
    <p>Here we will have all the Dashboard. The correct Dashboard will be render by the account type! </p>

    <partial name="components/dashboards/admin">
        <partial name="components/dashboards/student">
            <partial name="components/dashboards/evaluator">
                <partial name="components/dashboards/dean">



</body>

</html>