<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Free Portal</title>

    <link rel="stylesheet" href="~/css/styles.css?version=1.1">

    <script src="~/js/scritps.js?version=1.0" async=""></script>
</head>

<body>

    <h1>Hello, Drug Free Portal</h1>
    <p>Server is runing R1.1...</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni impedit odio pariatur iste facere fugiat
        molestiae, itaque nostrum culpa dolore mollitia porro ex vero earum explicabo esse corrupti, ipsa eius.</p>

    <partial name="components/checkIn">
        <partial name="components/studentReg">


</body>

</html>