<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Frew Portal</title>

    <link rel="stylesheet" href="~/css/styles.css?version=1.0">

    <script src="~/js/scritps.js?version=1.0" async=""></script>
</head>

<body>

    <h1>Hello, Drug Free Portal</h1>
    <p>Server is runing...</p>

</body>

</html>