<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Free Portal</title>

    <link rel="stylesheet" href="~/css/styles.css?version=1.26">

    <script src="~/js/app.js?version=1.26"></script>
    <script src="~/js/reg.js?version=1.26" async=""></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <div class="LandingPage-Container">

        <header>
            <h1>Drug Free Portal</h1>
        </header>


        <main>
            <h2>Welcome User!</h2>
            <partial name="registration/signIn">
                <partial name="components/stripeSub">
        </main>

        <aside>
            <p>To regester your school. Pleases contact us by email: school@drugfreeportal.com or phone: 623-233-0000.
            </p>
        </aside>

        <footer>
            <p> R1.26</p>
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>

        </footer>
    </div>
    @* <partial name="registration/studentReg"> *@

    <div>

    </div>

</body>

</html>