<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Free Portal</title>
    @await Html.PartialAsync("components/resources")

</head>

<body>
    <div class="LandingPage-Container">

        <partial name="components/mainHeader" />


        <main>
            <h2>Login to your <br /> <b>Drug Free Portal account!</b></h2>

            <partial name="registration/signIn">
                <partial name="components/stripeSub">
        </main>

        <aside>
            <p>To regester your school. Pleases contact us by email: josh.smith@drugfreeschools.net</p>
        </aside>

        <footer>
            <p> R1.33</p>
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>

        </footer>
    </div>
    @* <partial name="registration/studentReg"> *@

    <div>

    </div>

</body>

</html>