<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Free Portal</title>
    @await Html.PartialAsync("components/resources")

</head>

<body>
    <div class="LandingPage-Container">

        <partial name="components/mainHeader" />


        <main>
            <h2>Login to your <br /> <b>Drug Free Portal account!</b></h2>

            <partial name="registration/signIn">
                <partial name="components/stripeSub">
        </main>

        <aside>
            <p>To register your school. Please contact us by email: <a
                    href="mailto:josh.smith@drugfreeschools.net?subject=Register School&body=Dear, Josh Smith">josh.smith@drugfreeschools.net</a>
            </p>
        </aside>

        <footer>
            <p> R1.38</p>

            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>

        </footer>
    </div>
    @* <partial name="registration/studentReg"> *@

    <div>

    </div>

</body>

</html>