<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Free Portal</title>

    <link rel="stylesheet" href="~/css/styles.css?version=1.4">

    <script src="~/js/scritps.js?version=1.4" async=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

    <h1>Hello, Drug Free Portal</h1>
    <p>Server is runing R1.4...</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni impedit odio pariatur iste facere fugiat
        molestiae, itaque nostrum culpa dolore mollitia porro ex vero earum explicabo esse corrupti, ipsa eius.</p>
    <partial name="registration/signIn">
        <partial name="registration/studentReg">
            <partial name="registration/checkIn">


</body>

</html>