<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check In</title>
</head>

<body>
    <h1>CheckIn Partial</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate saepe similique commodi sint? Illo ullam,
        veritatis molestiae, impedit enim ratione recusandae expedita libero soluta sunt reprehenderit, natus quidem
        distinctio?</p>
    <form action="">
        <input type="text">
        <button>check in</button>
    </form>
</body>

</html>