<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>

<div class="dashboard-container">

    <h1>Admin Dashboard</h1>
    <p>Admin dashboard is the place where the
        admin can manage the users, products, and orders. The admin can add, edit, and delete the users, products, and
        orders. The admin can also view the list of users, products, and orders. The admin can also view the details of
        the
        users, products, and orders.</p>
    <partial name="components/renderUsers">

        <partial name="registration/adminReg">

            <partial name="registration/evaluatorReg">
                <partial name="registration/deanReg">

                    <partial name="components/compliaceTypes">
                        <partial name="components/semesters">
                            <partial name="components/schoolCrud">









</div>

</html>