<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<div class="AdminDashboard-container">

    <h1>Admin Dashboard</h1>
    <section class="AdminContainer">
        <partial name="components/semesters">
    </section>

    <partial name="components/schoolCrud">
        <partial name="components/compliaceTypes">

            <section class="Reg-Container">
                <partial name="registration/adminstudentReg">
                    <div>
                        <table id="StudentList"></table>
                    </div>
            </section>


            <section class="Reg-Container">

                <partial name="registration/adminReg">
                    <div>
                        <table id="AdminList"></table>
                    </div>
            </section>

            <section class="Reg-Container">
                <partial name="registration/evaluatorReg">
                    <div>
                        <table id="EvaluatorListTest"></table>
                    </div>
            </section>

            <section class="Reg-Container">
                <partial name="registration/deanReg">

                    <div>
                        <table id="DeanList"></table>
                    </div>
            </section>










</div>


</html>