<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<div class="AdminDashboard-container">

    <h1>Admin Dashboard</h1>
    <partial name="components/semesters">
        <partial name="components/schoolCrud">
            <partial name="components/compliaceTypes">

                <div class="Admin-Container">
                    <div>
                        <partial name="registration/adminReg">
                            <partial name="registration/evaluatorReg">
                                <partial name="registration/deanReg">
                    </div>
                    <partial name="components/renderUsers">
                </div>










</div>


</html>