<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dean Profesianl</title>
</head>

<script>
    // on document done loading get the records
    document.addEventListener("DOMContentLoaded", function () {
        getRecords();
    });

    const RenderUserWithRecords = (UserRecords) => {
        console.log("Render====================>>>>>User Records", UserRecords);
        let ul = document.createElement('ul');

        UserRecords.forEach(userRecord => {
            let li = document.createElement('li');
            ul.appendChild(li);

            let header = document.createElement('header');
            li.appendChild(header);

            let labelName = document.createElement('labelName');
            labelName.innerText = `${userRecord.user.firstName} ${userRecord.user.lastName}`;
            header.appendChild(labelName);

            let labelStudentId = document.createElement('label');
            labelStudentId.innerText = userRecord.user.studentId;
            header.appendChild(labelStudentId);

            let main = document.createElement('main');
            li.appendChild(main);

            let nestedUl = document.createElement('ul');

            userRecord.records.forEach(record => {
                console.log(record.complianceType);
                let nestedLi = document.createElement('li');
                nestedLi.innerText = `${record.complianceType} ${record.complianceStatus}`;
                nestedUl.appendChild(nestedLi);
                main.appendChild(nestedUl);

            });


        });

        document.getElementById('UserWithRecords').appendChild(ul);
    }

    // get all records
    const getRecords = () => {
        // get all records
        fetch('GetRecords')
            .then(response => response.json())
            .then(data => {
                console.log("Users With Records", data.userWithRecordsData);
                RenderUserWithRecords(data.userWithRecordsData);
            })
            .catch(error => {
                console.error('There was an error!', error);
            });
    }
</script>

<div class="dashboard-container">

    <h1>Dean Dashboard</h1>

    <p>Dean Profesionals will review all documents and pass or fail students compliacys</p>

    <div id="UserWithRecords"></div>

</div>

</html>