<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dean Profesianl</title>
</head>

<script>
    // on document done loading get the records
    document.addEventListener("DOMContentLoaded", function () {
        getRecords();
    });

    const RenderStudentUploads = (uploadFilesData) => {
        console.log("RenderStudentUploads", uploadFilesData);
        // clear the list
        document.getElementById('UserUploadedFilesList').innerHTML = "";
        let ul = document.createElement('ul');
        // Add close button
        let closeButton = document.createElement('button');
        closeButton.innerText = "Close";
        closeButton.addEventListener('click', () => {
            ul.style.display = "none";
        });
        ul.appendChild(closeButton);
        ul.className = "StudentFileViewer-Container";

        uploadFilesData.forEach(uploadFile => {
            let li = document.createElement('li');
            // image element appended to li with src as uploadFile fileName
            let img = document.createElement('img');
            img.src = `img/uploads/${uploadFile.fileName}`;
            li.appendChild(img);

            // button element with link to open the file
            let button = document.createElement('button');
            button.innerHTML = "View";
            button.addEventListener('click', () => {
                window.open(`img/uploads/${uploadFile.fileName}`);
            });
            li.appendChild(button);

            ul.appendChild(li);
        });

        // Add an empty li
        let emptyLi = document.createElement('li');
        ul.appendChild(emptyLi);



        document.getElementById('UserUploadedFilesList').appendChild(ul);
    }

    const GetDeanStudentUploads = (UserId) => {
        console.log("GetDeanStudentUploads", UserId);
        // files upload from student
        const jsonData = {
            UserId: UserId
        }
        console.log("jsonData", jsonData);

        $.ajax({
            url: '/GetDeanStudentUploads',
            type: 'POST',
            data: jsonData,
            success: function (response) {
                // Handle success response
                console.log("Backend Student Uploads:", response.uploadFilesData);
                RenderStudentUploads(response.uploadFilesData);
            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });

    }

    const RenderUserWithRecords = (UserRecords) => {
        console.log("Render====================>>>>>User Records", UserRecords);
        let ul = document.createElement('ul');
        ul.className = "userRecord-Container";


        UserRecords.forEach(userRecord => {
            let li = document.createElement('li');
            ul.appendChild(li);

            let header = document.createElement('header');
            li.appendChild(header);

            let labelName = document.createElement('label');
            labelName.innerText = `${userRecord.user.firstName} ${userRecord.user.lastName}`;
            header.appendChild(labelName);

            let labelStudentId = document.createElement('label');
            labelStudentId.innerText = userRecord.user.studentId;
            header.appendChild(labelStudentId);

            let main = document.createElement('main');
            li.appendChild(main);

            let nestedUl = document.createElement('ul');

            userRecord.records.forEach(record => {
                //if no records found show message label "No Records Found"
                console.log(">>>>>>>>---======Record", record);

                if (userRecord.records.length === 0) {
                    console.log(">>>>>>>>---======No Records Found");
                    let labelNoRecords = document.createElement('label');
                    labelNoRecords.innerText = "No Records Found";
                    nestedUl.appendChild(labelNoRecords);
                    return;
                }
                let nestedLi = document.createElement('li');
                main.appendChild(nestedUl);

                let labelComplianceType = document.createElement('label');
                labelComplianceType.innerText = record.complianceType;
                nestedLi.appendChild(labelComplianceType);

                let labelComplianceStatus = document.createElement('label');
                labelComplianceStatus.innerText = record.complianceStatus;
                labelComplianceStatus.style.color = "white";
                labelComplianceStatus.style.backgroundColor = "#" + record.statusColor;
                nestedLi.appendChild(labelComplianceStatus);

                nestedUl.appendChild(nestedLi);

            });
            let viewStudentCompliance = document.createElement('button');
            viewStudentCompliance.innerText = "View Student Compliance";
            viewStudentCompliance.addEventListener('click', () => GetDeanStudentUploads(userRecord.user.userId));
            main.appendChild(viewStudentCompliance);


        });


        // if no records found show message label "No Records Found"
        if (UserRecords.length === 0) {
            console.log(">>>>>>>>---======No Records Found");
            let labelNoRecords = document.createElement('label');
            labelNoRecords.innerText = "No records available. Records will be available soon.";
            ul.appendChild(labelNoRecords);
            document.getElementById('UserWithRecords').appendChild(ul);

            return;
        }

        document.getElementById('UserWithRecords').appendChild(ul);
    }

    // get all records
    const getRecords = () => {
        // get all records
        fetch('GetRecords')
            .then(response => response.json())
            .then(data => {
                console.log("Users With Records", data.userWithRecordsData);
                RenderUserWithRecords(data.userWithRecordsData);
            })
            .catch(error => {
                console.error('There was an error!', error);
            });
    }
</script>




<div class="DeanDashboard-ContainerTest">
    <ul id="UserUploadedFilesList"></ul>

    <h1>Dean Dashboard</h1>
    <div id="UserWithRecords"></div>

</div>

</html>