<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluator Dashaboard</title>
</head>

<div class="dashboard-container">

    <h1>Evaluator Dashboard</h1>

    <p>Evaluator Profesionals will review all documents and pass or fail students compliacys</p>

    <partial name="components/renderQueue">



</div>

</html>