<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluator Dashaboard</title>
</head>

<div class="dashboard-evaluator">

    <div class="Queue-MainContainer">
        <partial name="components/renderQueue">
    </div>
    <div class="SubmitRecords-MainContainer">
        <partial name="components/submitRecordsView">
    </div>




</div>

</html>