<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>



<div class="dashboard-container">
    <h1>Student Dashboard</h1>
    <div class="UploadFiles-Container" id="UploadFilesContainer">
        <button onclick="UploadFileViewHandler(event)">X</button>
        <main>
            <partial name="components/fileUploaderAjax">
        </main>
    </div>

    <section>
        <h2>Step 1: Add all school requirements! </h2>
        <button class="mainBTN" onclick="UploadFileViewHandler(event)">Upload Documents</button>

    </section>

    <section>
        <h2>Step 2: Be sure to check in for your oniste: date here</h2>

        <div>
            <partial name="registration/checkIn">
        </div>

    </section>


    <section>

        <h2>Step 3: View your uploaded compliance</h2>

        <div>
            <partial name="components/renderStudentFiles">
        </div>
    </section>

    <div id="StudentProfileContainer">
        <partial name="components/studentProfile">
    </div>






</div>

</html>