<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>



<div class="StudentDashboard-container">
    <h1>Student Dashboard</h1>

    <div id="StudentProfileContainer">
        <partial name="components/studentProfile">
    </div>
    <div class="UploadFiles-Container" id="UploadFilesContainer">
        <button onclick="UploadFileViewHandler(event)">X</button>
        <main>
            <div>
                <h2>School Requirements</h2>
                <p>Please uploaded all school requirements</p>
                <ul id="SchoolComplianceForStudent"></ul>
            </div>
            <partial name="components/fileUploaderAjax">
        </main>
    </div>

    <section>
        <h2>Step 1: Add all school requirements! </h2>
        <button class="mainBTN" onclick="UploadFileViewHandler(event)">Upload Documents</button>

    </section>

    <section>
        <h2>Step 2: Send your uploads for review.</h2>

        <div>
            @* <partial name="registration/checkIn"> *@
            <partial name="registration/checkInStudent">

        </div>

    </section>


    <section>

        <h2>Step 3: View you results.</h2>

        <div>
            <partial name="components/renderStudentFiles">
        </div>
    </section>







</div>

</html>