body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    row-gap: 50px;
}



h1{
    font: 3em sans-serif;
    color: black;
}


.dashboard-container{
    background-color: white;
    padding: 20px;
}

.signReg-container{
    background-color: white;
    padding: 20px;
}

form{
    display: grid;
    row-gap: 5px;
    max-width: 25em;
}

table{
    width: 90%;
    border-collapse: collapse;
}
/* style table row with two diffrent grays */
tr:nth-child(odd){
    background-color: #f0f0f0;
}

/* style table columns with border line left grays */
th, td{
    border-left: 1px solid #f0f0f0;
    padding: 10px;
}

/* rest ul no styles*/
ul{
    list-style-type: none;
    padding: 0;
}

img{
    height: 200px;
    width: auto;
}


.Compliance-Container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: whitesmoke;
    align-items: center;
    padding: 20px;
}

.Compliance-Container form{
    background-color: white;
    padding: 20px;
    height: 400px;
}

th{
    text-align: left;
}

.hidden{
    display: none;
}

input, select{
    font: 1em sans-serif;
    padding: 5px;
    border-radius: 5px;
    border: solid black 1.3px;
}


.studentReg-container>form{
    background-color: white;
    padding: 20px;
    display: grid;
    row-gap: 5px;
    border-radius: 7px;

}