body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    row-gap: 50px;
}



h1{
    font: 3em sans-serif;
    color: black;
    margin: 0;
}


.dashboard-container{
    background-color: white;
}

.signReg-container{
    background-color: white;
    padding: 20px;
}

form{
    display: grid;
    row-gap: 5px;
    max-width: 25em;
}

table{
    width: 90%;
    border-collapse: collapse;
}
/* style table row with two diffrent grays */
tr:nth-child(odd){
    background-color: #f0f0f0;
}

/* style table columns with border line left grays */
th, td{
    border-left: 1px solid #f0f0f0;
    padding: 10px;
}

/* rest ul no styles*/
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img{
    height: 200px;
    width: auto;
}

button{
    width: 130px;
}


.Compliance-Container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: whitesmoke;
    align-items: center;
    padding: 20px;
}

.Compliance-Container form{
    background-color: white;
    padding: 20px;
    height: 400px;
}

th{
    text-align: left;
}

.hidden{
    display: none;
}

input, select{
    font: 1em sans-serif;
    padding: 5px;
    border-radius: 5px;
    border: solid black 1.3px;
}


.studentReg-container>form{
    background-color: white;
    padding: 20px;
    display: grid;
    row-gap: 5px;
    border-radius: 7px;

}


.StudentProfile-Container{
    background-color: whitesmoke;
    padding: 5px;
}

.StudentProfile-Container form{
    background-color: white;
    display: grid;
    /* grid-template-columns: 120px 1fr; */
    row-gap: 5px;
    padding: 10px;

}

.StudentProfile-Container form label{
    border: none;
    font: 1.3em sans-serif;
}



.StudentProfile-Container form input:disabled{
    border: none;
    background-color: white;
    padding: 0;
    font: 1.3em sans-serif;
    color: black;

}

.StudentProfile-Container form input{
    border: none;
    padding: 0;
    border: solid black 1.3px;
    padding: 5px;
    font: 1.3em sans-serif;
    margin-bottom: 10px;

}

 /*------- Queue styles */

 .dashboard-evaluator{
    background-color: #245684;
    display: grid;
    grid-template-columns: 40em 1fr;
    height: 97vh;
 }

 .Queue-MainContainer{
    background-color: whitesmoke;
 }

 .SubmitRecords-MainContainer{
    background-color: white;
 }


 .Queue-Container{
    background-color: #245684;
 }


 .Queue-Container h1{
    color: white;

 }

 

 .QueueHeading{
    display: grid;
    row-gap: 10px;
    padding: 10px;
    background-color: whitesmoke;
    max-width: 45em;
    border-bottom: solid black 1px;


 }

 .QueueHeading li{
    display: grid;
    grid-template-columns: 40px 1.5fr 1fr 150px;
    padding: 10px;
    border-radius: 5px;
    font: 1.3em sans-serif;
    align-items: center;
    justify-items: center;
}


 .QueueBody{
    display: grid;
    row-gap: 20px;
    padding: 10px;
    background-color: whitesmoke;
    padding-top: 40px;
 }

    .QueueBody li{
        display: grid;
        grid-template-columns: 40px 1.5fr 1fr 150px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 3px 3px #f0f0f0;
        background-color: white;
        align-items: center;
        justify-items: center;

    }

    .QueueBody li label{
        font: 1.3em sans-serif;
    }

    .QueueMainBTN{
        background-color: #245684;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        font: 1.3em sans-serif;
        height: 40px;
        transition: border-radius 0.5s ease; /* Changed border to border-radius */
        width: 140px;
    }

    .QueueMainBTN:hover{
        border-radius: 20px; /* Changed border to border-radius */

    }

    .QueueMainBTN:disabled{
        border-radius: 20px; /* Changed border to border-radius */

    }
    

    .QueueDeleteBTN{
        background-color: #e0e0e0;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        font: 1.3em sans-serif;
        height: 40px;
        width: 15px;
      

    }



    .QueueBody li button:disabled{
        background-color: grey;
            cursor: not-allowed;
    }


    .SubmitRecords-Container{
        display: grid;
    }


    
    .SubmitRecords-Container>main{
        display: grid;
        grid-template-columns: 100px 2fr 1fr;
        background-color: #245684;
        padding: 20px;
        width: 800px;
        height: 50px;
        justify-self: center;
        align-items: center;
        border-radius: 10px 10px 0 0;
        justify-content: center;
        column-gap: 20px;

    }
    
    .SubmitRecords-Container>main label{
        font: 1.7em sans-serif;
        color: white;
    }


    .Evaluator-Container{
        display: grid;
        background-color: rgba(0, 0, 0, 0.36);
        position: fixed;
        top: 0;
        right: 0;
        height: 99vh;
        width: 100vw;
        justify-items: center;
        align-items: center;
    }

    .Evaluator-Controller{
        font: 1em sans-serif;
        display: grid;
        row-gap: 20px;
        background-color: white;
        height: 600px;
        width: 400px;
        padding: 40px;
        align-content: flex-start;
        border-radius: 10px;
    }

    .Evaluator-Controller>ul{
        display: grid;
        row-gap: 20px;
       
    }

    .Evaluator-Controller>ul li button{
     background-color: #245684;
        color: white; 
        font: 1em sans-serif;
        border: none;
        width: 100%;
        padding: 10px;
        transition: border-radius 0.5s ease; /* Added transition effect */
        border-radius: 5px;

    }

    .Evaluator-Controller>ul li button:hover {
        border-radius: 30px; /* Increase the border-radius value to 30px */
    }
    
   

    .UserSelectedCompliance-Container{
        display: grid;
    }

    .UserUpload-Container{
        display: grid;
        row-gap: 20px;
        background-color: whitesmoke;
        height: 94vh;
        width: 100%;
        align-content: flex-start;
        justify-content: center;
        padding: 20px;
        border-radius: 50px 0 0 50px;

    }
 