<script>

    const CheckInHandler = (e) => {
        console.log("CheckInHandler called")

        let schoolName = document.getElementById("schoolStudentEdit").value;
        let schoolId = document.getElementById("schoolIdStudentEdit").value;
        let studentId = document.getElementById("studentIdStudentEdit").value;
        let studentFirstName = document.getElementById("firstNameStudentEdit").value;
        let studentLastName = document.getElementById("lastNameStudentEdit").value;
        let studentPhoneNumber = document.getElementById("phoneNumberStudentEdit").value;
        let studentEmail = document.getElementById("emailStudentEdit").value;

        let checkInData = {
            schoolName: schoolName,
            schoolId: schoolId,
            studentId: studentId,
            firstName: studentFirstName,
            lastName: studentLastName,
            phoneNumber: studentPhoneNumber,
            email: studentEmail
        }

    @* don't forget to get studentUserId in the backend *@

            console.log("Frontend: Check In", checkInData)

        $.ajax({
            url: '/CheckIn',
            type: 'POST',
            data: checkInData,
    @* contentType: 'application/json', *@
            success: function (response) {
                // Handle success response
                console.log(response);

                console.log("Status:", response.status);
                console.log("Message:", response.message);
                document.getElementById("QueueStatusLabel").innerText = response.message;

            },
            error: function (error) {
                // Handle error response
                console.log(error);
            }
        });

    }

</script>
<div>
    <h1>CheckIn Partial</h1>
    <label id="QueueStatusLabel"></label>
    <button onclick="CheckInHandler(event)">check in</button>
</div>
