<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>

</head>

<script>

    const RegDeanHandler = (e) => {
        e.preventDefault();
        console.log("RegDeanHandler called")

        let DeanSchool = document.getElementById("DeanSchool").value;
        let SchoolIdForDean = document.getElementById("SchoolIdForDean").value;

        let DeanFirstName = document.getElementById("DeanFirstName").value;
        let DeanLastName = document.getElementById("DeanLastName").value;

        let DeanEmail = document.getElementById("DeanEmail").value;
        let DeanPassword = document.getElementById("DeanPassword").value;


        let jsonData = {
            school: DeanSchool,
            schoolId: SchoolIdForDean,
            firstName: DeanFirstName,
            lastName: DeanLastName,
            email: DeanEmail,
            password: DeanPassword,
        }

        console.log(jsonData)

        $.ajax({
            url: '@Url.Action("RegisterDeanMethod", "Reg")',
            type: "POST",
            data: jsonData,
            success: deanRegSuccess,

        });

    }

    const deanRegSuccess = (data) => {
        console.log("deanRegSuccess called")
        console.log(data)


    @* check to see if files in arry data.files send alter can not be empty *@
        if (data.fields.length > 0) {
            console.log("data.fields", data.fields)
            data.fields.forEach((field) => {

                if (field === "School") {
                    document.getElementById("DeanSchoolLabel").style.color = "red";
                    document.getElementById("DeanSchoolLabel").innerText = "can not be empty";
                }


                if (field === "FirstName") {
                    document.getElementById("DeanFirstNameLabel").style.color = "red";
                    document.getElementById("DeanFirstNameLabel").innerText = "can not be empty";
                }
                if (field === "LastName") {
                    document.getElementById("DeanLastNameLabel").style.color = "red";
                    document.getElementById("DeanLastNameLabel").innerText = "can not be empty";
                }

                if (field === "Email") {
                    document.getElementById("DeanEmailLabel").style.color = "red";
                    document.getElementById("DeanEmailLabel").innerText = "can not be empty";
                }
                if (field === "Password") {
                    document.getElementById("DeanPasswordLabel").style.color = "red";
                    document.getElementById("DeanPasswordLabel").innerText = "can not be empty";
                }
            })
        }

        if (data.status === "Dean Registered") {
            console.log("Dean Registered")
            fetchAllUsers();
            // clear from
            //document.getElementById("DeanSchool").value = "";// this gets cleared when school is selected
            //document.getElementById("SchoolIdForDean").value = "";// this gets cleared when school is selected
            document.getElementById("DeanFirstName").value = "";
            document.getElementById("DeanLastName").value = "";
            document.getElementById("DeanEmail").value = "";
            document.getElementById("DeanPassword").value = "";
        }
    }

    const DeanInputHandler = (e) => {
        e.preventDefault();
        console.log("DeanInputHandler called")
        let id = e.target.id;
        console.log("id", id)
        let LabelId = id + "Label";
        console.log("LabelId", LabelId)
        document.getElementById(LabelId).innerText = "";
    }

    const DeanSchoolSelecterHandler = (e) => {
        e.preventDefault();
        console.log("DeanSchoolSelecterHandler called", e.target)
        console.log("Shcool Name:", e.target.value)
        console.log("SChool ID:", e.target.options[e.target.selectedIndex].id)
        let SchoolName = document.getElementById("DeanSchool");
        SchoolName.value = e.target.value;

        let SchoolId = document.getElementById("SchoolIdForDean");
        SchoolId.value = e.target.options[e.target.selectedIndex].id;

    }


</script>

<div>

    <h3>Dean Registration </h3>
    <form action="">
        <select id="DeanSchoolSelector" onchange="DeanSchoolSelecterHandler(event)"></select>
        <label id="DeanSchoolLabel"></label>
        <input class="hidden" id="DeanSchool" type="text" placeholder="School name update on select"
            onClick="DeanInputHandler(event)">

        <input class="hidden" type="text" id="SchoolIdForDean" placeholder="School ID updated on select">


        <label id="DeanFirstNameLabel"></label>
        <input id="DeanFirstName" type="text" placeholder="First Name:" onClick="DeanInputHandler(event)">

        <label id="DeanLastNameLabel"></label>
        <input id="DeanLastName" type="text" placeholder="Last Name:" onClick="DeanInputHandler(event)">

        <label id="DeanEmailLabel"></label>
        <input id="DeanEmail" type="text" placeholder="Email:" onClick="DeanInputHandler(event)">

        <label id="DeanPasswordLabel"></label>
        <input id="DeanPassword" type="password" placeholder="Password:" onClick="DeanInputHandler(event)">


        <button class="mainBTN" onclick="RegDeanHandler(event)">Create Dean Account</button>

    </form>


</div>

</html>
