<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>

</head>

<script>

    const RegEvaluatorHandler = (e) => {
        e.preventDefault();
        console.log("RegEvaluatorHandler called")


        let EvaluatorFirstName = document.getElementById("EvaluatorFirstName").value;
        let EvaluatorLastName = document.getElementById("EvaluatorLastName").value;

        let EvaluatorEmail = document.getElementById("EvaluatorEmail").value;
        let EvaluatorPassword = document.getElementById("EvaluatorPassword").value;


        let jsonData = {
            firstName: EvaluatorFirstName,
            lastName: EvaluatorLastName,
            email: EvaluatorEmail,
            password: EvaluatorPassword,
        }

        console.log(jsonData)

        $.ajax({
            url: '@Url.Action("RegisterEvaluatorMethod", "Reg")',
            type: "POST",
            data: jsonData,
            success: evaluatorRegSuccess,

        });

    }

    const evaluatorRegSuccess = (data) => {
        console.log("evaluatorRegSuccess called")
        console.log(data)
        fetchSchoolEvaluators();


    @* check to see if files in arry data.files send alter can not be empty *@
        if (data.fields.length > 0) {
            console.log("data.fields", data.fields)
            data.fields.forEach((field) => {


                if (field === "FirstName") {
                    document.getElementById("EvaluatorFirstNameLabel").style.color = "red";
                    document.getElementById("EvaluatorFirstNameLabel").innerText = "can not be empty";
                }
                if (field === "LastName") {
                    document.getElementById("EvaluatorLastNameLabel").style.color = "red";
                    document.getElementById("EvaluatorLastNameLabel").innerText = "can not be empty";
                }

                if (field === "Email") {
                    document.getElementById("EvaluatorEmailLabel").style.color = "red";
                    document.getElementById("EvaluatorEmailLabel").innerText = "can not be empty";
                }
                if (field === "Password") {
                    document.getElementById("EvaluatorPasswordLabel").style.color = "red";
                    document.getElementById("EvaluatorPasswordLabel").innerText = "can not be empty";
                }
            })
        }

        if (data.status === "Evaluator Registered") {
            console.log("Evaluator Registered")
            fetchAllUsers();
            //clear form
            document.getElementById("EvaluatorFirstName").value = "";
            document.getElementById("EvaluatorLastName").value = "";
            document.getElementById("EvaluatorEmail").value = "";
            document.getElementById("EvaluatorPassword").value = "";

        }
    }

    const EvaluatorInputHandler = (e) => {
        e.preventDefault();
        console.log("EvaluatorInputHandler called")
        let id = e.target.id;
        console.log("id", id)
        let LabelId = id + "Label";
        console.log("LabelId", LabelId)
        document.getElementById(LabelId).innerText = "";
    }


</script>

<div>

    <h3>Evaluator Registration </h3>

    <form action="">
        <label id="EvaluatorFirstNameLabel"></label>
        <input id="EvaluatorFirstName" type="text" placeholder="First Name:" onClick="EvaluatorInputHandler(event)">

        <label id="EvaluatorLastNameLabel"></label>
        <input id="EvaluatorLastName" type="text" placeholder="Last Name:" onClick="EvaluatorInputHandler(event)">

        <label id="EvaluatorEmailLabel"></label>
        <input id="EvaluatorEmail" type="text" placeholder="Email:" onClick="EvaluatorInputHandler(event)">

        <label id="EvaluatorPasswordLabel"></label>
        <input id="EvaluatorPassword" type="password" placeholder="Password:" onClick="EvaluatorInputHandler(event)">


        <button class="mainBTN" onclick="RegEvaluatorHandler(event)">Create Evaluator Account</button>

    </form>


</div>

</html>
