<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/styles.css?version=1.27">

</head>

<script>

    const ForgotPasswordMailKit = (e) => {
        console.log("Reset function was called");

        event.preventDefault();
        const emailInput = document.querySelector('#ForgotPasswordEmail');
        const Email = emailInput.value;
        let EmailMssage = document.getElementById("passwordMassage");

        EmailMssage.innerHTML = "Sending email...";

        const jsonData = {
            email: Email,
        };
        console.log(jsonData);

        $.ajax({
            type: "POST",
            url: '@Url.Action("ForgotPasswordMailKit", "PasswordReset")',
            data: jsonData,
            success: function (response) {
                console.log(response);

                if (response.statusCode === "Not a valid email!") {
                    console.log("Not a valid email!");
                    EmailMssage.innerHTML = "Not a valid email!. Please try again.";
                }

                if (response.statusCode === "Email sent") {
                    console.log("Email sent successfully");
                    EmailMssage.innerHTML = "An email has been sent to your email address. Please check your email to reset your password.";
                } else {
                    console.log("Email failed to send");
                    EmailMssage.innerHTML = "Email failed to send. Please try again.";
                }



            },
        });
    };
</script>

<body>
    <partial name="components/mainHeader" />

    <div class="ForgotPassword-Container">




        <form>
            <p id="passwordMassage">Forgot your password? No worries, just enter your email and we’ll send you a link to
                reset your password.
            </p>
            <input type="text" id="ForgotPasswordEmail" placeholder="Email Address:">
            <button class="mainBTN" id="emailBTN" onclick="ForgotPasswordMailKit(event)">Submit</button>

        </form>

    </div>

</body>
