@using DrugFreePortal.Models
@model ResetPasswordViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <meta name="author" content="Forgot Password">
    <link rel="stylesheet" href="~/css/styles.css?version=1.34">



</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>





<script>
    const NewPasswordHandler = (e) => {
        e.preventDefault();
        var token = document.getElementById("Token").value;
        var email = document.getElementById("Email").value;
        var newPassword = document.getElementById("NewPassword").value;
        var confirmPassword = document.getElementById("ConfirmPassword").value;
        var jsonData = {
            Token: token,
            Email: email,
            Password: newPassword,
            ConfirmPassword: confirmPassword
        };
        console.log(jsonData);
        $.ajax({
            type: "POST",
            url: '@Url.Action("NewPasswordMethod", "PasswordReset")',
            data: jsonData,
            success: function (result) {
                console.log("result from NewPasswordMethod", result);
                if (result.statusCode === "Password has been updated.") {
                    console.log("Password reset successfully");

                    document.getElementById("passwordMSG").innerHTML = "Your password has been updated. Redirecting to sign in page. Please wait...";
                    setTimeout(function () {
                        window.location.href = "/";
                    }, 5000);
                }
                else {
                    console.log("Password reset failed");
                }
            }
        });
    }

</script>


<body>
    <partial name="components/mainHeader" />

    <div class="ForgotPassword-Container">
        <form>
            <div class="LogoContainer">
                <img src="/assets/JournalApp/logo48.png" alt="">
            </div>
            <h2>Enter new password</h2>
            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="Email" />
            <p id="passwordMSG"></p>
            <label class="hidden" asp-for="NewPassword"></label>
            <input placeholder="New Password" asp-for="NewPassword" />
            @* <span asp-validation-for="NewPassword"></span> *@
            <label class="hidden" asp-for="ConfirmPassword"></label>
            <input placeholder="Confirm Password" asp-for="ConfirmPassword" />
            @* <span asp-validation-for="ConfirmPassword"></span> *@
            <button class="mainBTN" onclick="NewPasswordHandler(event)">Reset Password</button>
        </form>

    </div>


</body>

</html>
