<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>


</head>

<script>

    const signInHandlerAjax = (e) => {
        e.preventDefault();
        const Email = document.getElementById('signInemail').value;
        const Password = document.getElementById('signInPassword').value;
        // JavaScript example
        const jsonData = {
            email: Email,
            password: Password
        };
        console.log('jsonData', jsonData);

        $.ajax({
            url: '@Url.Action("Login", "Reg")',
            type: "POST",
            data: jsonData,

        });

    }


</script>
<div class="signReg-container" id="SignInContainer">

    <h1 class="hidden">Sign In</h1>
    <form action="">
        <label id="signInEmailLabel"></label>
        <label id="signInPasswordLabel"></label>

        <input type="text" id="signInemail" placeholder="Email address:" required>

        <div class="inputWrapper">
            <input id="signInPassword" placeholder="Password:" type="password" required>
            <button id="showPasswordButton" onclick="ShowPassword(event)">Show</button>
        </div>

        <button class="mainBTN" id="SingInUser" onclick="signInHandlerFetch(event)">Sign In</button>
        @* <button id="SingInUser" onclick="signInHandlerAjax(event)">Sign In Ajax</button> *@
        <a href="/forgot-password">Forgot Password?</a>

    </form>


</div>

</html>