<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <script src="~/js/reg.js?version=1.4" async=""></script>


</head>

<script>

    const signInHandlerAjax = (e) => {
        e.preventDefault();
        const Email = document.getElementById('signInemail').value;
        const Password = document.getElementById('signInPassword').value;
        // JavaScript example
        const jsonData = {
            email: Email,
            password: Password
        };
        console.log('jsonData', jsonData);

        $.ajax({
            url: '@Url.Action("Login", "Reg")',
            type: "POST",
            data: jsonData,

        });

    }
</script>
<div class="signReg-container">

    <h1>Sign In</h1>
    <form action="">
        <label for=""></label>
        <input type="text" id="signInemail" placeholder="email" required>

        <label for=""></label>
        <input type="password" id="signInPassword" placeholder="Password" required>

        <button id="SingInUser" onclick="signInHandlerFetch(event)">Sign In Fetch</button>
        <button id="SingInUser" onclick="signInHandlerAjax(event)">Sign In Ajax</button>

    </form>

</div>

</html>