<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>

</head>

<script>

    const RegStudentHandler = (e) => {
        e.preventDefault();
        console.log("RegStudentHandler called")

        let StudentSchool = document.getElementById("StudentSchool").value;
        let StudentId = document.getElementById("StudentId").value;

        let StudentFirstName = document.getElementById("StudentFirstName").value;
        let StudentLastName = document.getElementById("StudentLastName").value;
        let StudentPhoneNumber = document.getElementById("StudentPhoneNumber").value;

        let StudentEmail = document.getElementById("StudentEmail").value;
        let StudentPassword = document.getElementById("StudentPassword").value;
        let StudentAccpetTerms = document.getElementById("StudentAccpetTerms").value;


        let jsonData = {
            school: StudentSchool,
            studentId: StudentId,
            firstName: StudentFirstName,
            lastName: StudentLastName,
            phoneNumber: StudentPhoneNumber,
            email: StudentEmail,
            password: StudentPassword,
            acceptTerms: StudentAccpetTerms
        }

        console.log(jsonData)

        $.ajax({
            url: '@Url.Action("RegisterStudentMethod", "Reg")',
            type: "POST",
            data: jsonData,
            success: studentRegSuccess,

        });

    }

    const studentRegSuccess = (data) => {
        console.log("studentRegSuccess called")
        console.log("data from backend", data)

        console.log(data.status)
        console.log("empty files", data.fields)

    @* check to see if files in arry data.files send alter can not be empty *@
        if (data.fields.length > 0) {
            console.log("data.fields", data.fields)
            data.fields.forEach((field) => {
                if (field === "School") {
                    document.getElementById("StudentSchoolLable").style.color = "red";
                    document.getElementById("StudentSchoolLable").innerText = "can not be empty";
                }
                if (field === "StudentId") {
                    document.getElementById("StudentIdLable").style.color = "red";
                    document.getElementById("StudentIdLable").innerText = "can not be empty";
                }
                if (field === "FirstName") {
                    document.getElementById("StudentFirstNameLabel").style.color = "red";
                    document.getElementById("StudentFirstNameLabel").innerText = "can not be empty";
                }
                if (field === "LastName") {
                    document.getElementById("StudentLastNameLabel").style.color = "red";
                    document.getElementById("StudentLastNameLabel").innerText = "can not be empty";
                }
                if (field === "PhoneNumber") {
                    document.getElementById("StudentPhoneNumber").style.color = "red";
                    document.getElementById("StudentPhoneNumber").innerText = "can not be empty";
                }
                if (field === "Email") {
                    document.getElementById("StudentEmailLabel").style.color = "red";
                    document.getElementById("StudentEmailLabel").innerText = "can not be empty";
                }
                if (field === "Password") {
                    document.getElementById("StudentPasswordLabel").style.color = "red";
                    document.getElementById("StudentPasswordLabel").innerText = "can not be empty";
                }





            })
        }

        if (data.status === "Registered") {
            window.location.href = '@Url.Action("Dashboard", "Home")';
        }
    }

</script>

<div class="signReg-container">

    <h1>Student Registration Partial</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis hic ducimus saepe facere. Non architecto
        accusantium minus iste, vitae error nam quod inventore nisi cupiditate ab assumenda nihil quisquam unde.</p>

    <form action="">
        @* lable for student school id studentSchoolLable *@
        <label id="StudentSchoolLable"></label>
        <input id="StudentSchool" type="text" placeholder="School:">


        <label id="StudentIdLable"></label>
        <input id="StudentId" type="text" placeholder="Student Id:">

        <label id="StudentFirstNameLabel"></label>
        <input id="StudentFirstName" type="text" placeholder="First Name:">

        <label id="StudentLastNameLabel"></label>
        <input id="StudentLastName" type="text" placeholder="Last Name:">

        <label id="StudentPhoneNumber"></label>
        <input id="StudentPhoneNumber" type="text" placeholder="Phone Number:">

        <label id="StudentEmailLabel"></label>
        <input id="StudentEmail" type="text" placeholder="Email:">

        <label id="StudentPasswordLabel"></label>
        <input id="StudentPassword" type="text" placeholder="Password:">
        <div>
            <input id="StudentAccpetTerms" type="checkbox" name="Accept Terms">
            <label>Accpet Terms</label>

        </div>

        <button onclick="RegStudentHandler(event)">Register</button>

    </form>


</div>

</html>
