@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>

    <link rel="stylesheet" href="~/css/styles.css?version=1.22">
    <script src="~/js/reg.js?version=1.22" async=""></script>
    <script src="~/js/app.js?version=1.22"></script>

</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@{
    var customerEmail = Context.Session.GetString("StripeCustomerEmail");
    var customerName = Context.Session.GetString("StripeCustomerName");
    var stripeCustomerId = Context.Session.GetString("StripeCustomerId");
}
<script>

    const RegStudentHandler = (e) => {
        e.preventDefault();
        console.log("RegStudentHandler called")

        if (e.target.innerText === "Register") {
            RegisterStudent();
            return;
        }


        let BackBTN = document.getElementById("StudentRegBackBTN");
        let CurrentStep = document.getElementById("CurrentStep").innerText;
        let SchoolInfo = document.getElementById("SchoolInfo");
        let StudentInfo = document.getElementById("StudentInfo");
        let SignInInfo = document.getElementById("SignInInfo");
        let AcceptTermsInfo = document.getElementById("AcceptTermsInfo");

        if (e.target.innerText === "<" && CurrentStep === "Student Information") {
            SchoolInfo.style.display = "grid";
            StudentInfo.style.display = "none";
            SignInInfo.style.display = "none";
            BackBTN.style.display = "none";
            document.getElementById("CurrentStep").innerText = "School Information";
            return;
        } else if (e.target.innerText === "<" && CurrentStep === "Sign In Information") {
            SchoolInfo.style.display = "none";
            StudentInfo.style.display = "grid";
            SignInInfo.style.display = "none";
            document.getElementById("CurrentStep").innerText = "Student Information";
            return;
        }



        if (CurrentStep === "School Information") {
            BackBTN.style.display = "block";
            document.getElementById("CurrentStep").innerText = "Student Information";
            SchoolInfo.style.display = "none";
            StudentInfo.style.display = "grid";
            SignInInfo.style.display = "none";
            return;
        } else if (CurrentStep === "Student Information") {
            document.getElementById("CurrentStep").innerText = "Sign In Information";
            StudentInfo.style.display = "none";
            SignInInfo.style.display = "none";
            SignInInfo.style.display = "grid";
            return;
        } else if (CurrentStep === "Sign In Information") {
            document.getElementById("CurrentStep").innerText = "Review Information";
            SchoolInfo.style.display = "grid";
            StudentInfo.style.display = "grid";
            SignInInfo.style.display = "grid";
            AcceptTermsInfo.style.display = "block";
            e.target.innerText = "Register";
            BackBTN.style.display = "none";
            return;
        }



    }

    const RegisterStudent = async (data) => {
        let StripeCustomerId = document.getElementById("StripeCustomerId").value;

        if (StripeCustomerId === "") {
            document.getElementById("StripeCustomerIdLabel").style.color = "red";
            document.getElementById("StripeCustomerIdLabel").innerText = "Payment Error: Please make payment first or contact support.";
            return
        }

        let StudentSchool = document.getElementById("StudentSchool").value;
        let SchoolIdForStudentReg = document.getElementById("SchoolIdForStudentReg").value;
        let StudentId = document.getElementById("StudentId").value;

        let StudentFirstName = document.getElementById("StudentFirstName").value;
        let StudentLastName = document.getElementById("StudentLastName").value;
        let StudentPhoneNumber = document.getElementById("StudentPhoneNumber").value;

        let StudentEmail = document.getElementById("StudentEmail").value;
        let StudentPassword = document.getElementById("StudentPassword").value;
        let StudentAccpetTerms = document.getElementById("StudentAccpetTerms").checked;



        console.log("------------terms", StudentAccpetTerms)

        let jsonData = {
            stripeCustomerId: StripeCustomerId,
            school: StudentSchool,
            schoolId: SchoolIdForStudentReg,
            studentId: StudentId,
            firstName: StudentFirstName,
            lastName: StudentLastName,
            phoneNumber: StudentPhoneNumber,
            email: StudentEmail,
            password: StudentPassword,
            acceptedTerms: StudentAccpetTerms
        }

        console.log(jsonData)

        $.ajax({
            url: '@Url.Action("RegisterStudentMethod", "Reg")',
            type: "POST",
            data: jsonData,
            success: studentRegSuccess,

        });
    }

    const studentRegSuccess = (data) => {
        console.log("studentRegSuccess called")
        console.log("data from backend", data)

        console.log(data.status)


    @* check to see if files in arry data.files send alter can not be empty *@
        if (data.fields.length > 0) {
            console.log("data.fields", data.fields)
            data.fields.forEach((field) => {
                if (field === "School") {
                    document.getElementById("StudentSchoolLabel").style.color = "red";
                    document.getElementById("StudentSchoolLabel").innerText = "Please select a school";
                }
                if (field === "StudentId") {
                    document.getElementById("StudentIdLabel").style.color = "red";
                    document.getElementById("StudentIdLabel").innerText = "Student Id can not be empty";
                }
                if (field === "FirstName") {
                    document.getElementById("StudentFirstNameLabel").style.color = "red";
                    document.getElementById("StudentFirstNameLabel").innerText = "First Name can not be empty";
                }
                if (field === "LastName") {
                    document.getElementById("StudentLastNameLabel").style.color = "red";
                    document.getElementById("StudentLastNameLabel").innerText = "Last Name can not be empty";
                }
                if (field === "PhoneNumber") {
                    document.getElementById("StudentPhoneNumberLabel").style.color = "red";
                    document.getElementById("StudentPhoneNumberLabel").innerText = "can not be empty";
                }
                if (field === "Email") {
                    document.getElementById("StudentEmailLabel").style.color = "red";
                    document.getElementById("StudentEmailLabel").innerText = "Email can not be empty";
                }
                if (field === "Password") {
                    document.getElementById("StudentPasswordLabel").style.color = "red";
                    document.getElementById("StudentPasswordLabel").innerText = "Password can not be empty";
                }
                if (field === "Need to accept terms") {
                    document.getElementById("StudentAccpetTermsLabel").style.color = "red";
                    document.getElementById("StudentAccpetTermsLabel").innerText = "Please accept terms";
                }
            })
        }


        if (data.status === "Registered") {
            window.location.href = '@Url.Action("Dashboard", "Home")';
        }
    }

    const StudentInputHandler = (e) => {
        e.preventDefault();
        console.log("StudentInputHandler called")
        let id = e.target.id;
        console.log("id", id)
        let LabelId = id + "Label";
        console.log("LabelId", LabelId)
        document.getElementById(LabelId).innerText = "";
    }

    const TermsHandler = (e) => {
        document.getElementById("StudentAccpetTermsLabel").innerText = "";

    }

</script>

<div class="studentReg-container">

    <h1>Student Register</h1>


    <form action="">

        <header>
            <h2>Create Account</h2>
            <label id="CurrentStep">School Information</label>
        </header>

        <section id="SchoolInfo">

            <label id="StudentSchoolLabel"></label>
            <select name="" id="StudentSchoolSelector"></select>
            <input class="hidden" onclick="StudentInputHandler(event)" id="StudentSchool" type="text"
                placeholder="School:" disabled>

            <input class="hidden" type="text" id="SchoolIdForStudentReg" placeholder="schoolId:" disabled>


            <label id="StudentIdLabel"></label>
            <input onclick="StudentInputHandler(event)" id="StudentId" type="text" placeholder="Student Id:">

        </section>

        <section id="StudentInfo">

            <label id="StudentFirstNameLabel"></label>
            <input onclick="StudentInputHandler(event)" id="StudentFirstName" type="text" placeholder="First Name:">

            <label id="StudentLastNameLabel"></label>
            <input onclick="StudentInputHandler(event)" id="StudentLastName" type="text" placeholder="Last Name:">

        </section>


        <section id="SignInInfo">
            <label id="StudentEmailLabel"></label>
            <input onclick="StudentInputHandler(event)" id="StudentEmail" value="@customerEmail" type="text"
                placeholder="Email:">

            <label id="StudentPasswordLabel"></label>
            <input onclick="StudentInputHandler(event)" id="StudentPassword" type="password" placeholder="Password:">
        </section>

        <div id="AcceptTermsInfo">
            <label id="StudentAccpetTermsLabel"></label>

            <input id="StudentAccpetTerms" onclick="TermsHandler(event)" type="checkbox" name="Accept Terms">
            <label for="">Accept Terms</label>
            <p>By continuing, you agree to our Terms Of Service and Privacy Policy.</p>

        </div>

        <div class="hidden">
            <label id="StudentPhoneNumberLabel"></label>
            <input onclick="StudentInputHandler(event)" id="StudentPhoneNumber" type="text" placeholder="Phone Number:"
                value="000-000-0000" disabled>
        </div>

        <footer>
            <button id="StudentRegBackBTN" onclick="RegStudentHandler(event)">&lt;</button>
            <button id="StudentRegBTN" class="mainBTN" onclick="RegStudentHandler(event)">Next</button>
        </footer>

        <label id="StripeCustomerIdLabel"></label>

        <div class="hidden">
            <input class="hidden" onclick="StudentInputHandler(event)" id="StripeCustomerId" type="text"
                placeholder="Stripe Customer Id:" value="@stripeCustomerId" disabled>
        </div>


    </form>





</div>

</html>
